*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    padding:0;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position:top center ;
    text-align: center;
    border:2px solid black;
}

